# sourced from https://github.com/IAMBUDE/mpt-client/blob/main/.gitignore, thank you!
/*

#Base files
!.gitignore
!README.md

#Unneeded stuff
**/.DS_Store
**.log

#Include BepInEx core
!BepInEx
BepInEx/*

# BepInEx Plugins 
!BepInEx/plugins

# BepInEx config
!BepInEx/config

# BepInEx config ignore list
# BepInEx/config/BepInEx.cfg
# BepInEx/config/FOVFix.cfg
# BepInEx/config/Tyfon.UIFixes.cfg
# BepInEx/config/com.Amanda.Graphics.cfg
# BepInEx/config/com.bepis.bepinex.configurationmanager.cfg
# BepInEx/config/com.Amanda.Hitmarker.cfg
# BepInEx/config/com.cactuspie.itemcountinname.cfg
# BepInEx/config/com.cactuspie.ramcleanerinterval.cfg
# BepInEx/config/xyz.drakia.lootradius.cfg
# BepInEx/config/xyz.drakia.questtracker.cfg
# BepInEx/config/RedDotTweaker.cfg
# BepInEx/config/RealismMod.cfg
# BepInEx/config/me.skwizzy.lootingbots.cfg
# BepInEx/config/com.mpstark.SimpleCrosshair.cfg
# BepInEx/config/com.pandahhcorp.shoulderswaponlean.cfg
# BepInEx/config/com.samswat.fov.cfg
# BepInEx/config/com.SamSWAT.HeliCrash.ArysReloaded.cfg
# BepInEx/config/com.servph.alpharestorations.cfg
# BepInEx/config/com.servph.servphDismemberment.cfg
# BepInEx/config/com.servph.thirdperson.cfg
# BepInEx/config/com.servph.vocalPlayer.cfg
# BepInEx/config/DJ.Deadzone.cfg
# BepInEx/config/com.kmyuhkyuk.GamePanelHUDKill.cfg
# BepInEx/config/com.kmyuhkyuk.GamePanelHUDWeapon.cfg
# BepInEx/config/com.lacyway.rsr.cfg
# BepInEx/config/com.memes.cfg
# BepInEx/config/com.mpstark.DynamicMaps.cfg
# BepInEx/config/com.mpstark.PlayerEncumbranceBar.cfg
# BepInEx/config/com.kmyuhkyuk.GamePanelHUDCompass.cfg
# BepInEx/config/com.kmyuhkyuk.GamePanelHUDGrenade.cfg
# BepInEx/config/com.kmyuhkyuk.GamePanelHUDHealth.cfg
# BepInEx/config/com.kmyuhkyuk.GamePanelHUDHit.cfg
# BepInEx/config/com.ImmersiveCompass.cfg
# BepInEx/config/com.kiobu.rgblasers.cfg
# BepInEx/config/com.kmyuhkyuk.GamePanelHUDCore.cfg
# BepInEx/config/com.cwx.debuggingtool-dxyz.cfg
# BepInEx/config/com.DanW.QuestingBots.cfg
# BepInEx/config/com.dirtbikercj.QuickThrowGrenades.cfg
# BepInEx/config/xyz.drakia.waypoints.cfg
# BepInEx/config/com.fika.core.cfg
# BepInEx/config/BepInEx.cfg

# mod ignore list
# BepInEx/plugins/Hitmarker
# BepInEx/plugins/PlayerEncumbranceBar
# BepInEx/plugins/QuickWeaponRackAccess
# BepInEx/plugins/SamSWAT.WatchAnims
# BepInEx/plugins/SimpleCrosshair
# BepInEx/plugins/AmandsGraphics.dll
# BepInEx/plugins/AmandsHitmarker.dll
# BepInEx/plugins/CactusPie.ItemCountInName.dll
# BepInEx/plugins/CactusPie.RamCleanerInterval.dll
# BepInEx/plugins/Deadzone.dll
# BepInEx/plugins/DrakiaXYZ-EquipFromWeaponRack.dll
# BepInEx/plugins/DrakiaXYZ-LootRadius.dll
# BepInEx/plugins/FuckYouBeta.dll
# BepInEx/plugins/InventoryOrganizingFeatures.dll
# BepInEx/plugins/QuickThrowGrenades.dll
# BepInEx/plugins/Solarint-HeadshotDamageRedirect.dll
# BepInEx/plugins/Tyfon.UIFixes.dll

#Include User/Mods/
!User
User/*
!User/Mods
